body#index {
    background: url(/img/chrome_example_ext.png) top right no-repeat;
    background-color: #101010;
}


body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #eeeeee;
  padding-top: 5px;
  background-color: #101010;
}

header {
    padding-bottom: 70px;
}

.thumbnail {
  border: 1px solid #333;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
}

.post-summary {
    padding-bottom: 50px;
}

.post p, .post-summary, .about p {
    font-size: 14px;
}

.post-summary .date, .post .date {
    padding-bottom: 20px;
}

.post h2, .post img {
    padding: 20px 0;
}
